<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Stations", stations_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @station.name %></li>
  </ol>
</nav>

<div class="row row-cols-2">
  <div class="col">
    <div id="<%= dom_id @station %>" class="card">
      <p class="card-img-top text-center">TODO: Map</p>
      <div class="card-body">
        <h5 class="text-truncate"><%= @station.name %></h5>
        <h6 class="card-subtitle text-muted"><%= @station.brand %></h6>
        <p class="card-text">
          <address>
            <%= @station.street %> <%= @station.house_number %><br />
            <%= @station.post_code %> <%= @station.place %>
          </address>
        </p>
        <p class="card-text">
          <%= @station.changes_per_day %> changes per day
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5>Latest prices</h5>
        <% if @station.price_reports.latest_price -%>
          <h6 class="card-subtitle text-muted">Reported on <%= @station.price_reports.latest_price.report_time %></h6>
          <dl>
            <dt>Diesel</dt>
            <dd><%= sprintf('%.3f €', @station.price_reports.latest_price.diesel.price.fdiv(1000)) %></dd>
            <dt>E5</dt>
            <dd><%= sprintf('%.3f €', @station.price_reports.latest_price.e5.price.fdiv(1000)) %></dd>
            <dt>E10</dt>
            <dd><%= sprintf('%.3f €', @station.price_reports.latest_price.e10.price.fdiv(1000)) %></dd>
          </dl>
        <% else %>
          <h6 class="card-subtitle text-muted">No prices reported</h6>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5>Most popular increase times</h5>
        <dl>
          <% @station.popular_increase_times.each do |aggregated_price| %>
            <dt><%= sprintf('%02d:%02d', aggregated_price['timeframe']['hour'], aggregated_price['timeframe']['minute']) %> (<%= aggregated_price['changes'] %> changes)</dt>
            <dd><%= render "price_change", change: aggregated_price['averageChange'] %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5>Most popular decrease times</h5>
        <dl>
          <% @station.popular_decrease_times.each do |aggregated_price| %>
            <dt><%= sprintf('%02d:%02d', aggregated_price['timeframe']['hour'], aggregated_price['timeframe']['minute']) %> (<%= aggregated_price['changes'] %> changes)</dt>
            <dd><%= render "price_change", change: aggregated_price['averageChange'] %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>

<h5>Average price difference</h5>

<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th>Time</th>
    <th>Diesel (times)</th>
    <th>E5 (times)</th>
    <th>E10 (times)</th>
  </tr>
  </thead>
  <tbody>
  <% @station.price_differences.each do |price_difference| %>
    <tr>
      <td><%= sprintf('%02d:%02d', price_difference['timeframe']['hour'], price_difference['timeframe']['minute']) %></td>
      <td><%= render "price_change", change: price_difference['diesel']['higherThanLowest'] %> (<%= price_difference['diesel']['times'].to_i %> times)</td>
      <td><%= render "price_change", change: price_difference['e5']['higherThanLowest'] %> (<%= price_difference['e5']['times'].to_i %> times)</td>
      <td><%= render "price_change", change: price_difference['e10']['higherThanLowest'] %> (<%= price_difference['e10']['times'].to_i %> times)</td>
    </tr>
  <% end %>
  </tbody>
  <caption>This table shows the average price difference at each time frame compared to the lowest price each day.</caption>
</table>

<h5>Price changes</h5>

<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th>Time</th>
    <th>Changes</th>
    <th>Diesel</th>
    <th>E5</th>
    <th>E10</th>
  </tr>
  </thead>
  <tbody>
  <% @station.aggregated_prices.each do |aggregated_price| %>
    <tr>
      <td><%= sprintf('%02d:%02d', aggregated_price['timeframe']['hour'], aggregated_price['timeframe']['minute']) %></td>
      <td><%= aggregated_price['changes'] %></td>
      <td><%= render "price_change", change: aggregated_price['dieselChange'] %></td>
      <td><%= render "price_change", change: aggregated_price['e5Change'] %></td>
      <td><%= render "price_change", change: aggregated_price['e10Change'] %></td>
    </tr>
  <% end %>
  </tbody>
  <caption>This table shows the average price change for each time frame compared to the previous time.</caption>
</table>
